.tateti_row {
  width: 240px;
}

.tateti_col {
  border: 1px solid;
  height: 80px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s all;
}

.tateti_col:hover {
  opacity: 0.5;
  background-color: #3f4552;
}

.reset_button {
  margin-top: 15px;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  transition: 0.3s all;
}

.reset_button:hover {
  background-color: #2b3035;
  cursor: pointer;
  color: white;
}

.button {
  background-color: #486c90;
  border: none;
  outline: none;
  transition: all 0.2s;
}
.button:hover,
.button:active,
.button:focus {
  box-shadow: none !important;
  background-color: #2f4154 !important;
  transform: scale(1.05);
}
